In [1]:
import pandas as pd

pd.options.display.max_seq_items = 20000
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 2000)

In [2]:
from pymongo import MongoClient

 

# Create a client instance of MongoClient

client = MongoClient('mongodb+srv://friedrich_hermann:uTkxuhFf2bNU-vIIEY@outbound-production.h7ybo.mongodb.net/outbound')

 

# Get the database object

# Here name of the database is "sample"
db = client.outbound

 

# Get the collection object

# Here name of the database is "states"

collection  = db.raw

 
lister=[]
# Make a query to list all the documents

for doc in collection.find():

    #Print each document
    lister.append(doc)

In [9]:
a.columns

Index(['_id', 'name', 'domain', 'hasValidDomain', 'lastUpdated', 'sources.Startupdetector - GROW._id', 'sources.Startupdetector - GROW.name', 'sources.Startupdetector - GROW.domain', 'sources.Startupdetector - GROW.urls', 'sources.Startupdetector - GROW.description', 'sources.Startupdetector - GROW.sources', 'sources.Startupdetector - GROW.founders', 'sources.Startupdetector - GROW.yearFounded', 'sources.Startupdetector - GROW.notes', 'sources.Startupdetector - GROW.industries', 'sources.Startupdetector - GROW.location', 'sources.Startupdetector - GROW.fundingAmount', 'sources.Startupdetector - GROW.clientFocus', 'sources.Startupdetector - GROW.hasValidDomain', 'sources.Startupdetector - GROW.uploadedToAffinity', 'sources.Startupdetector - GROW.lastUpdated', 'sources.Startupdetector - START._id', 'sources.Startupdetector - START.name', 'sources.Startupdetector - START.domain', 'sources.Startupdetector - START.urls', 'sources.Startupdetector - START.description', 'sources.Startupdetector - START.sources', 'sources.Startupdetector - START.founders', 'sources.Startupdetector - START.yearFounded', 'sources.Startupdetector - START.notes', 'sources.Startupdetector - START.industries', 'sources.Startupdetector - START.location', 'sources.Startupdetector - START.fundingAmount', 'sources.Startupdetector - START.clientFocus', 'sources.Startupdetector - START.hasValidDomain', 'sources.Startupdetector - START.uploadedToAffinity', 'sources.Startupdetector - START.lastUpdated', 'sources.dealroom.id', 'sources.dealroom.name', 'sources.dealroom.type', 'sources.dealroom.deleted', 'sources.dealroom.path', 'sources.dealroom.tagline', 'sources.dealroom.about', 'sources.dealroom.url', 'sources.dealroom.website_url', 'sources.dealroom.linkedin_url', 'sources.dealroom.crunchbase_url', 'sources.dealroom.angellist_url', 'sources.dealroom.images.32x32', 'sources.dealroom.images.74x74', 'sources.dealroom.images.100x100', 'sources.dealroom.employees', 'sources.dealroom.employees_latest',
       'sources.dealroom.industries', 'sources.dealroom.sub_industries', 'sources.dealroom.corporate_industries', 'sources.dealroom.service_industries', 'sources.dealroom.technologies', 'sources.dealroom.income_streams', 'sources.dealroom.growth_stage', 'sources.dealroom.traffic_summary', 'sources.dealroom.hq_locations', 'sources.dealroom.client_focus', 'sources.dealroom.revenues', 'sources.dealroom.tags', 'sources.dealroom.ownerships', 'sources.dealroom.delivery_method', 'sources.dealroom.launch_year', 'sources.dealroom.launch_month', 'sources.dealroom.has_promising_founder', 'sources.dealroom.has_strong_founder', 'sources.dealroom.has_super_founder', 'sources.dealroom.total_funding', 'sources.dealroom.total_funding_source', 'sources.dealroom.last_funding', 'sources.dealroom.last_funding_source', 'sources.dealroom.company_status', 'sources.dealroom.last_updated', 'sources.dealroom.last_updated_utc', 'sources.dealroom.created_utc', 'sources.dealroom.kpi_summary.id', 'sources.dealroom.kpi_summary.last_update_date', 'sources.dealroom.kpi_summary.last_update_date_utc', 'sources.dealroom.kpi_summary.currency', 'sources.dealroom.kpi_summary.values', 'sources.dealroom.kpi_summary.valuations', 'sources.dealroom.kpi_summary.values_sources', 'sources.dealroom.team.items', 'sources.dealroom.team.total', 'sources.dealroom.investors.items', 'sources.dealroom.investors.total', 'sources.dealroom.fundings.items', 'sources.dealroom.fundings.total', 'sources.dealroom.job_openings', 'sources.dealroom.exits.items', 'sources.dealroom.exits.total', 'sources.dealroom.trading_multiple', 'sources.dealroom.tech_stack_predictleads', 'sources.dealroom.sustainable_development_goals', 'sources.dealroom.core_side_value', 'sources.dealroom.data_type', 'sources.dealroom.pic_number', 'sources.dealroom.patents_count', 'sources.dealroom.lastUpdated', 'sources.deutsche startups.source', 'sources.deutsche startups.name', 'sources.deutsche startups.urls', 'sources.deutsche startups.hasValidDomain',
       'sources.deutsche startups.domain', 'sources.deutsche startups.notes', 'sources.deutsche startups.founders', 'sources.deutsche startups.description', 'sources.deutsche startups.companyLinkedinUrl', 'sources.deutsche startups.location', 'sources.deutsche startups.industries', 'sources.deutsche startups.lastUpdated', 'sources.dealroom.last_funding_date', 'sources.dealroom.source', 'sources.Startupdetector - START.source', 'sources.Startupdetector - START.registrationNumber', 'sources.Startupdetector - START.registrationCountry', 'sources.Startupdetector - START.companyLinkedinUrl', 'sources.Startupdetector - GROW.source', 'sources.Startupdetector - GROW.registrationNumber', 'sources.Startupdetector - GROW.registrationCountry', 'sources.Startupdetector - GROW.investors', 'sources.Startupdetector - GROW.companyLinkedinUrl', 'sources.metabeta.source', 'sources.metabeta.name', 'sources.metabeta.urls', 'sources.metabeta.companyLinkedinUrl', 'sources.metabeta.hasValidDomain', 'sources.metabeta.domain', 'sources.metabeta.founders', 'sources.metabeta.yearFounded', 'sources.metabeta.employeeCount', 'sources.metabeta.totalFundingAmountEUR', 'sources.metabeta.lastFundingAmountEUR', 'sources.metabeta.lastFundingDate', 'sources.metabeta.description', 'sources.metabeta.industries', 'sources.metabeta.notes', 'sources.metabeta.lastUpdated', 'sources.deutsche startups.clientFocus', 'sources.metabeta._id'],
      dtype='object')

Look at all the columns available in MongoDB

- '_id' 
- 'name'
- 'domain'
- 'originSource'
- 'sources',
- 'registrationNumber'
- 'registrationCountry'
- 'launchYear',
- 'launchMonth'
- 'industries'
- 'tagline'
- 'about'
- 'locationCity'
- 'locationCountry'
- 'companyLinkedinUrl'
- 'crunchbaseUrl'
- 'latestEmployeeCount'
- 'founders'
- 'growthStage'
- 'clientFocus'
- 'eurusdRate'
- 'totalFundingEUR'
- 'totalFundingUSD'
- 'lastFundingEUR'
- 'lastFundingUSD'
- 'lastFundingDate'
- 'valuationEUR'
- 'valuationUSD'
- 'investors'
- 'notes'
- 'hasValidDomain'
- 'lastUpdated'
- 'uploadedToAffinity'
- 'affinityListIDs'
- 'affinityListOwnerID'
- 'affinityOrgID'
- 'uploadedToAffinityTime'
- 'locationContinent'
- 'readyForAffinity'
- 'unwantedIndustry'
- 'filteredOut'
- 'filteredOutReasons'
- 'linkedinScrapingChecked'

In [31]:
col_needed=["_id","name","domain","registrationCountry","launchYear","industries","about","locationCity","locationCountry","companyLinkedinUrl","founders","growthStage","totalFundingEUR","lastFundingDate","investors","hasValidDomain"]
col_total_needed=['_id', 'name', 'hasValidDomain', 'sources.Startupdetector - GROW.founders', 'sources.Startupdetector - GROW.yearFounded', 'sources.Startupdetector - GROW.industries', 'sources.Startupdetector - GROW.location', 'sources.Startupdetector - GROW.fundingAmount', 'sources.Startupdetector - START.founders', 'sources.Startupdetector - START.yearFounded', 'sources.Startupdetector - START.industries', 'sources.Startupdetector - START.location', 'sources.Startupdetector - START.fundingAmount', 'sources.dealroom.type', 'sources.dealroom.about', 'sources.dealroom.website_url', 'sources.dealroom.linkedin_url','sources.dealroom.industries','sources.dealroom.growth_stage', 'sources.dealroom.hq_locations', 'sources.dealroom.ownerships', 'sources.dealroom.launch_year', 'sources.dealroom.launch_month', 'sources.dealroom.total_funding','sources.dealroom.company_status', 'sources.dealroom.team.items', 'sources.dealroom.team.total', 'sources.dealroom.investors.items', 'sources.dealroom.investors.total', 'sources.dealroom.fundings.items', 'sources.dealroom.fundings.total', 'sources.dealroom.patents_count', 'sources.deutsche startups.founders', 'sources.deutsche startups.companyLinkedinUrl', 'sources.deutsche startups.location', 'sources.deutsche startups.industries', 'sources.dealroom.last_funding_date', 'sources.Startupdetector - START.registrationCountry', 'sources.Startupdetector - START.companyLinkedinUrl', 'sources.Startupdetector - GROW.registrationCountry', 'sources.Startupdetector - GROW.investors', 'sources.Startupdetector - GROW.companyLinkedinUrl',  'sources.metabeta.companyLinkedinUrl', 'sources.metabeta.hasValidDomain', 'sources.metabeta.domain', 'sources.metabeta.founders', 'sources.metabeta.yearFounded',  'sources.metabeta.totalFundingAmountEUR', 'sources.metabeta.industries']

In [32]:
a=[]
from bson.objectid import ObjectId
for i in collection.find():
    a.append(pd.json_normalize(i))

df=pd.concat(a)

In [33]:
df=df[col_total_needed]

Rename Columns of Dataframe

In [34]:
df.rename(columns={'_id':'id','hasValidDomain':'hasValidDomain.1', 'sources.Startupdetector - GROW.founders':'founders.1', 'sources.Startupdetector - GROW.yearFounded':'year_founded.1', 'sources.Startupdetector - GROW.industries':'industries.1', 'sources.Startupdetector - GROW.location':'country.1', 'sources.Startupdetector - GROW.fundingAmount':'total_funding.1', 'sources.Startupdetector - START.founders':'founders.2', 'sources.Startupdetector - START.yearFounded':'year_founded.2', 'sources.Startupdetector - START.industries':'industries.2', 'sources.Startupdetector - START.location':'country.2', 'sources.Startupdetector - START.fundingAmount':'total_funding.2', 'sources.dealroom.type':'type.1', 'sources.dealroom.about':'about.1', 'sources.dealroom.website_url':'website_url.1', 'sources.dealroom.linkedin_url':'linkedin_url.1',  'sources.dealroom.industries':'industries.3' ,'sources.dealroom.growth_stage':'growth_stage.1', 'sources.dealroom.hq_locations':'country.3', 'sources.dealroom.ownerships':'ownerships.1', 'sources.dealroom.launch_year':'year_founded.3', 'sources.dealroom.launch_month':'month_founded.1', 'sources.dealroom.total_funding':'total_funding.3', 'sources.dealroom.company_status':'company_status.1', 'sources.dealroom.team.items':'founders.3', 'sources.dealroom.team.total':'founders_total.1', 'sources.dealroom.investors.items':'investors.1', 'sources.dealroom.investors.total':'investors_total.1', 'sources.dealroom.fundings.items':'fundings_items.1', 'sources.dealroom.fundings.total':'fundings_total.1', 'sources.dealroom.patents_count':'patents_count.1', 'sources.deutsche startups.founders':'founders.4', 'startups.companyLinkedinUrl':'linkedin_url.1', 'sources.deutsche startups.location':'country.4', 'sources.deutsche startups.industries':'industries.4', 'sources.dealroom.last_funding_date':'last_funding_date.1', 'sources.Startupdetector - START.registrationCountry':'country.5', 'sources.Startupdetector - START.companyLinkedinUrl':'linkedin_url.2', 'sources.Startupdetector - GROW.registrationCountry':'country.6', 'sources.Startupdetector - GROW.investors':'investors.2', 'sources.Startupdetector - GROW.companyLinkedinUrl':'linkedin_url.3',  'sources.metabeta.companyLinkedinUrl':'linkedin_url.4', 'sources.metabeta.hasValidDomain':'hasValidDomain.2', 'sources.metabeta.domain':'website_url.2', 'sources.metabeta.founders':'founders.5', 'sources.metabeta.yearFounded':'year_founded.4',  'sources.metabeta.totalFundingAmountEUR':'total_funding.4', 'sources.metabeta.industries':'industries.5','sources.deutsche startups.companyLinkedinUrl':'linkedin_url.5'}, inplace=True)

In [35]:
df.head()

                         id                      name  hasValidDomain.1                                         founders.1 year_founded.1    industries.1 country.1 total_funding.1                                         founders.2 year_founded.2              industries.2  country.2 total_funding.2   type.1 about.1              website_url.1                              linkedin_url.1                                industries.3 growth_stage.1                                          country.3                    ownerships.1  year_founded.3  month_founded.1  total_funding.3 company_status.1 founders.3  founders_total.1                                        investors.1  investors_total.1                                   fundings_items.1  fundings_total.1  patents_count.1 founders.4 linkedin_url.5 country.4 industries.4 last_funding_date.1 country.5 linkedin_url.2 country.6 investors.2 linkedin_url.3 linkedin_url.4 hasValidDomain.2 website_url.2 founders.5 year_founded.4 total_funding.4 industries.5
0  6343efb5d05ff04f62dfda72               150 Minuten              True  [{'firstName': 'Martin', 'lastName': 'Vos', 'g...           2022       [Medizin]    Berlin       32,155.00                                                NaN            NaN                       NaN        NaN             NaN      NaN     NaN                        NaN                                         NaN                                         NaN            NaN                                                NaN                             NaN             NaN              NaN              NaN              NaN        NaN               NaN                                                NaN                NaN                                                NaN               NaN              NaN        NaN            NaN       NaN          NaN                 NaN       NaN            NaN       NaN         NaN            NaN            NaN              NaN           NaN        NaN            NaN             NaN          NaN
0  6343efbad05ff059f1dfda74                    Jobs2X              True                                                NaN            NaN             NaN       NaN             NaN  [{'firstName': 'Julius', 'lastName': 'Gollner'...           2022            [Personal, HR]  Falkensee             600      NaN     NaN                        NaN                                         NaN                                         NaN            NaN                                                NaN                             NaN             NaN              NaN              NaN              NaN        NaN               NaN                                                NaN                NaN                                                NaN               NaN              NaN        NaN            NaN       NaN          NaN                 NaN       NaN            NaN       NaN         NaN            NaN            NaN              NaN           NaN        NaN            NaN             NaN          NaN
0  6343efbed05ff04718dfda76                   Amanase              True  [{'firstName': 'Denis', 'lastName': 'Gundesj',...           2021  [Lebensmittel]   München       48,500.00                                                NaN            NaN                       NaN        NaN             NaN      NaN     NaN                        NaN                                         NaN                                         NaN            NaN                                                NaN                             NaN             NaN              NaN              NaN              NaN        NaN               NaN                                                NaN                NaN                                                NaN               NaN              NaN        NaN            NaN       NaN          NaN                 NaN       NaN            NaN       NaN         NaN            NaN            NaN              NaN           NaN        NaN            NaN             NaN          NaN
0  6343efc3d05ff04c2cdfda78  ceswap digital solutions              True                                                NaN            NaN             NaN       NaN             NaN  [{'firstName': 'Thomas', 'lastName': 'Munz', '...           2022  [Finanzbereich, Finance]  Stuttgart          25.000      NaN     NaN                        NaN                                         NaN                                         NaN            NaN                                                NaN                             NaN             NaN              NaN              NaN              NaN        NaN               NaN                                                NaN                NaN                                                NaN               NaN              NaN        NaN            NaN       NaN          NaN                 NaN       NaN            NaN       NaN         NaN            NaN            NaN              NaN           NaN        NaN            NaN             NaN          NaN
0  6343efcbd05ff0c3bcdfda7a              AVO Mobility              True  [{'firstName': 'Matti', 'lastName': 'Schurr', ...           2021     [Mobilität]    Berlin       29,887.00                                                NaN            NaN                       NaN        NaN             NaN  company    None  https://www.avocargo.one/  https://www.linkedin.com/company/avocargo/  [{'id': 100111, 'name': 'transportation'}]           seed  [{'id': 3834054, 'address': '18, Cantianstraße...  [Venture Capital, accelerator]             NaN              NaN              1.0      operational         []               0.0  [{'id': 2482597, 'name': 'REAKTOR.BERLIN', 'pa...                6.0  [{'id': 538250, 'year': 2021, 'month': 11, 'am...               1.0              0.0        NaN            NaN       NaN          NaN                 NaN       NaN            NaN       NaN         NaN            NaN            NaN              NaN           NaN        NaN            NaN             NaN          NaN

In [9]:
from dotenv.main import load_dotenv
import os
load_dotenv()
API_KEY=os.environ["api_key"]

In [1]:
# from CompanyList-Search.ipynb:
import pandas as pd
import requests
import json
from pandas import json_normalize
from requests.auth import HTTPBasicAuth

def list_finder(companylist:list, api, fields="id,name,type,deleted,path,tagline,about,url,website_url,employees,employees_latest,corporate_industries,service_industries,technologies,growth_stage,traffic_summary,delivery_method,launch_year,launch_month,has_promising_founder,has_strong_founder,has_super_founder,total_funding,total_funding_source,last_funding,last_funding_source,company_status,last_updated,last_updated_utc,created_utc,similarweb_3_months_growth_unique,similarweb_6_months_growth_unique,similarweb_12_months_growth_unique,app_3_months_growth_unique,app_6_months_growth_unique,app_12_months_growth_unique,employee_3_months_growth_unique,employee_6_months_growth_unique,employee_6_months_growth_unique,employee_12_months_growth_unique,kpi_summary,team,investors,fundings,traffic,job_openings"):
    """
    will import the company information according to name, or website in the provided list. 
    Fields are set to "id,name,type,deleted,path,tagline,about,url,website_url,employees,employees_latest,corporate_industries,service_industries,technologies,growth_stage,traffic_summary,delivery_method,launch_year,launch_month,has_promising_founder,has_strong_founder,has_super_founder,total_funding,total_funding_source,last_funding,last_funding_source,company_status,last_updated,last_updated_utc,created_utc,similarweb_3_months_growth_unique,similarweb_6_months_growth_unique,similarweb_12_months_growth_unique,app_3_months_growth_unique,app_6_months_growth_unique,app_12_months_growth_unique,employee_3_months_growth_unique,employee_6_months_growth_unique,employee_6_months_growth_unique,employee_12_months_growth_unique,kpi_summary,team,investors,fundings,traffic,job_openings,exits,trading_multiple"
    by default. api key has to be provided in the api field. 
    
    Function will return the data in json as well as a list of names no information has been found for.
    """
    api_url="https://api.dealroom.co/api/v1/companies"
    API_KEY=api
    auth=HTTPBasicAuth(API_KEY, '')
    
    headers = {'Content-Type': 'application/json'}
    data_list=[]
    failed_names=[]
    
    for i in companylist:
        data={"keyword": "{}".format(i),
              "keyword_type": "website_domain",
              "keyword_match_type": "exact",
              "fields":fields,
              "limit": 1,
              "offset": 0
             }
        response = requests.post(api_url,data=json.dumps(data),auth=auth,headers=headers)
        data=response.json()
        if len(data["items"])==0:
            failed_names.append("{}".format(i))
        else:
            data_list.append(data["items"][0])
        
    return data_list, failed_names

In [37]:
for i in db.list_collection_names():
    print(i)

companies
domainsOnOutboundList
summary
combinedScrapersCache
standardizedSourcesData
raw

In [197]:
df_mode.corr()

/var/folders/k0/ldv3tm456fl7jrgd0xn0vy5h0000gn/T/ipykernel_12057/2612738855.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_mode.corr()

,about,website_url,facebook_url,twitter_url,linkedin_url,total_funding,patents_count,launch_year,investors_total,fundings_total,...,industry_name,number_top_schools,number_schools,team_male,team_female,avg_time_funding,Y,is_bootstrapped,number_top_inv,missing_values
about,1.000000,NaN,0.059379,0.061044,-0.051197,0.008026,-0.000234,0.065090,-0.010973,0.014424,...,0.002201,-0.008837,-0.013770,-0.000426,-0.008393,0.031206,-0.017693,-0.026484,-0.011753,-0.035531
website_url,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
facebook_url,0.059379,NaN,1.000000,0.326860,-0.026931,0.022983,0.006498,0.033821,0.093458,0.195364,...,-0.002212,-0.002156,0.003266,0.127650,0.017115,0.031396,-0.031734,-0.174495,0.057175,-0.151045
twitter_url,0.061044,NaN,0.326860,1.000000,0.026939,0.016382,0.008432,0.037053,0.134288,0.170700,...,0.000081,0.055153,0.088097,0.118979,0.015176,-0.003462,0.006551,-0.125552,0.070301,-0.222681
linkedin_url,-0.051197,NaN,-0.026931,0.026939,1.000000,0.000841,0.001496,-0.024205,0.024161,-0.039052,...,-0.005185,0.062887,0.106800,0.014459,0.004654,-0.051775,-0.046478,0.132024,0.013367,-0.164174
total_funding,0.008026,NaN,0.022983,0.016382,0.000841,1.000000,0.007668,0.059982,0.027531,0.057398,...,-0.001776,0.008902,0.010922,0.003578,-0.006402,0.061508,0.015900,-0.046821,0.018656,-0.048452
patents_count,-0.000234,NaN,0.006498,0.008432,0.001496,0.007668,1.000000,0.051546,-0.001657,0.014925,...,-0.001832,0.005623,0.009525,-0.006421,0.003197,0.035207,0.008802,-0.010422,-0.002580,-0.009561
launch_year,0.065090,NaN,0.033821,0.037053,-0.024205,0.059982,0.051546,1.000000,-0.098532,-0.018944,...,0.000414,-0.013950,-0.026936,-0.092157,-0.022217,0.671821,-0.033019,-0.031903,-0.052850,0.009812
investors_total,-0.010973,NaN,0.093458,0.134288,0.024161,0.027531,-0.001657,-0.098532,1.000000,0.612147,...,-0.005418,0.246058,0.300287,0.343197,0.062412,-0.016264,0.410962,-0.444626,0.379197,-0.406072
fundings_total,0.014424,NaN,0.195364,0.170700,-0.039052,0.057398,0.014925,-0.018944,0.612147,1.000000,...,-0.000901,0.166008,0.202910,0.329281,0.053014,0.067055,0.207542,-0.606730,0.252880,-0.385832
country_name,-0.000425,NaN,-0.007461,0.000756,0.000534,0.000600,0.003372,0.001383,0.006491,0.008758,...,0.191401,0.000658,0.004275,0.000170,0.001845,0.005348,0.005824,-0.006269,-0.002393,0.023850
city_name,-0.000281,NaN,-0.002650,0.002010,-0.002664,0.002031,0.003300,0.001181,-0.003430,0.000423,...,0.001895,0.003583,0.004401,0.003114,0.004551,-0.000299,0.000124,0.000233,-0.000519,0.007019
industry_name,0.002201,NaN,-0.002212,0.000081,-0.005185,-0.001776,-0.001832,0.000414,-0.005418,-0.000901,...,1.000000,-0.008043,-0.008192,-0.005863,-0.001210,0.003511,-0.006119,-0.000623,-0.004020,0.003765
number_top_schools,-0.008837,NaN,-0.002156,0.055153,0.062887,0.008902,0.005623,-0.013950,0.246058,0.166008,...,-0.008043,1.000000,0.641116,0.182161,0.043372,-0.034548,0.125396,-0.067941,0.129970,-0.277038
number_schools,-0.013770,NaN,0.003266,0.088097,0.106800,0.010922,0.009525,-0.026936,0.300287,0.202910,...,-0.008192,0.641116,1.000000,0.263211,0.061324,-0.065762,0.134009,-0.049368,0.150450,-0.429600
team_male,-0.000426,NaN,0.127650,0.118979,0.014459,0.003578,-0.006421,-0.092157,0.343197,0.329281,...,-0.005863,0.182161,0.263211,1.000000,-0.346299,-0.053889,0.141358,-0.220663,0.183011,-0.327319
team_female,-0.008393,NaN,0.017115,0.015176,0.004654,-0.006402,0.003197,-0.022217,0.062412,0.053014,...,-0.001210,0.043372,0.061324,-0.346299,1.000000,-0.015475,0.032825,-0.037244,0.015568,-0.043046
avg_time_funding,0.031206,NaN,0.031396,-0.003462,-0.051775,0.061508,0.035207,0.671821,-0.016264,0.067055,...,0.003511,-0.034548,-0.065762,-0.053889,-0.015475,1.000000,0.108114,-0.277430,-0.025531,0.073474
Y,-0.017693,NaN,-0.031734,0.006551,-0.046478,0.015900,0.008802,-0.033019,0.410962,0.207542,...,-0.006119,0.125396,0.134009,0.141358,0.032825,0.108114,1.000000,-0.470074,0.175347,-0.107024
is_bootstrapped,-0.026484,NaN,-0.174495,-0.125552,0.132024,-0.046821,-0.010422,-0.031903,-0.444626,-0.606730,...,-0.000623,-0.067941,-0.049368,-0.220663,-0.037244,-0.277430,-0.470074,1.000000,-0.174026,0.161077
number_top_inv,-0.011753,NaN,0.057175,0.070301,0.013367,0.018656,-0.002580,-0.052850,0.379197,0.252880,...,-0.004020,0.129970,0.150450,0.183011,0.015568,-0.025531,0.175347,-0.174026,1.000000,-0.202122
missing_values,-0.035531,NaN,-0.151045,-0.222681,-0.164174,-0.048452,-0.009561,0.009812,-0.406072,-0.385832,...,0.003765,-0.277038,-0.429600,-0.327319,-0.043046,0.073474,-0.107024,0.161077,-0.202122,1.000000

# 1. Prepare Routines to impute missing data in prediction

fields that need imputation:
1. tot. funding
2. patents count
3. fundings total
4. team male + female
5. avg time funding
6. Country + City

Find out which imputation fields need which columns

In [22]:
df_mode=pd.read_pickle("/Users/klaus/Documents/Jarvis/Second Try/Data/df_mode_30.11")

In [25]:
df_mode.columns

Index(['name', 'about', 'website_url', 'facebook_url', 'twitter_url',
       'linkedin_url', 'total_funding', 'patents_count', 'launch_year',
       'investors_total', 'fundings_total', 'country_name', 'city_name',
       'industry_name', 'number_top_schools', 'number_schools', 'team_male',
       'team_female', 'avg_time_funding', 'Y', 'is_bootstrapped',
       'number_top_inv', 'missing_values'],
      dtype='object')

1. tot_funding

In [26]:
df_mode.corr()["total_funding"]

/var/folders/k0/ldv3tm456fl7jrgd0xn0vy5h0000gn/T/ipykernel_75623/3930227095.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_mode.corr()["total_funding"]

about                 0.008026
website_url                NaN
facebook_url          0.022983
twitter_url           0.016382
linkedin_url          0.000841
total_funding         1.000000
patents_count         0.007668
launch_year           0.059982
investors_total       0.027531
fundings_total        0.057398
country_name          0.000600
city_name             0.002031
industry_name        -0.001776
number_top_schools    0.008902
number_schools        0.010922
team_male             0.003578
team_female          -0.006402
avg_time_funding      0.061508
Y                     0.015900
is_bootstrapped      -0.046821
number_top_inv        0.018656
missing_values       -0.048452
Name: total_funding, dtype: float64

Fundings total, investors_total, launch year, avg_time_funding, is_bootstrapped, missing_values